﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    @Styles.Render("~/Content/css")

    <link rel="shortcut icon" href="https://www4.benner.com.br/hubfs/favicon.png">
    <title>Prime - Indicadores</title>

</head>
<body>

    @RenderBody()

    <hr />
    <footer>
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        Copyright © 2019 Painel de indicadores <a href="https://www4.benner.com.br">benner</a>.
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/Scripts")
    @RenderSection("scripts", required: false)

</body>
</html>
