﻿@model dynamic

@{
    ViewBag.Title = "Index";
}

<!-- main wrapper -->
<div class="dashboard-main-wrapper">

    <!-- Wrapper  -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">

                <!-- pageheader  -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"  id="MarginTop">

                    <div class="page-header">

                        <img src="../../content/img/menu.png" id="icon-menu" data-toggle="modal" data-target=".modal-Filtros"/>
                        <h2 class="pageheader-title">Prime Indicadores </h2>

                        <!-- Modal de Filtros -->
                        <div class="modal fade modal-Filtros" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content modal-content-filtros">
                                    
                                    <div id="FiltrosPesquisa">

                                        <div id="SelectorEquipe">
                                            <span> Equipe: </span>
                                            <select id="EquipeID" multiple>
                                                <option value="-1" selected>Todos</option>
                                                @foreach (var item in Model.Equipes)
                                                {
                                                    <option value="@item.ID">@item.APELIDO</option>
                                                }
                                            </select>
                                        </div>

                                        <div id="SelectorClientes">
                                            <span style="width: 25%;"> Clientes: </span>
                                            <select id="ClienteID" multiple>
                                                <option value="-1" selected>Todos</option>
                                                @foreach (var item in Model.Clientes)
                                                {
                                                    <option value="@item.ID">@item.FANTASIA</option>
                                                }
                                            </select>
                                        </div>

                                        <div id="SeletroProduto">
                                            <span style="width: 25%;"> Produto </span>
                                            <select id="ProdutoID" multiple>
                                                <option value="-1" selected>Todos</option>
                                                @foreach (var item in Model.Sistemas)
                                                {
                                                    <option value="@item.ID">@item.SISTEMA</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <button id="listar" type="button" class="btn btn-primary">Buscar</button>

                                </div>
                            </div>
                        </div>
                        <!-- Modal de Filtros -->

                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb"></ol>
                            </nav>
                        </div>

                    </div>
                </div>
                <!-- end pageheader  -->

                <div class="ecommerce-widget">

                    <div class="row">

                        <!-- Saldo de sms's  -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Saldo</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1">Quantidade:<p id="valorAbertas">0</p></h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Abertas -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Abertas</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1">Quantidade:<p id="valorNovasAbertas">0</p></h2>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Liberadas -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Liberadas</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1">Quantidade:<p id="valorLiberadas">0</p></h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Correções -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary">
                                <div class="card-body">
                                    <h5 class="text-muted">Correções</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1">Quantidade:<p id="valorCorrecoes">0</p></h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <!-- Venciadas abertas -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary"
                                 data-toggle="modal" data-target=".Modal-SMS-Vencidas" id="CardVencidas">
                                <div class="card-body">
                                    <h5 class="text-muted">Venciadas abertas</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1">Quantidade:<p id="valorAbertasVencidas">0</p></h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SLA -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="card border-3 border-top border-top-primary"
                                 data-toggle="modal" data-target=".Modal-SLA" id="CardSLA">
                                <div class="card-body">
                                    <h5 class="text-muted">SLA</h5>
                                    <div class="metric-value d-inline-block">
                                        <h2 class="mb-1"><p id="ValorSLA">0</p>%</h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <!-- Modal - SMS Vencidas  -->
                    <div class="modal fade Modal-SMS-Vencidas" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">

                                <!-- SMS vencidas  -->
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tabela-sms-vencidas">
                                        <div class="card">
                                            <div class="itens-ordenacao">
                                                <h5 class="card-header"id="Label-Vencidas">Vencidas</h5>
                                                <h5 class="card-header" id="TotalizadorSMSVencidas">Total: 0</h5>
                                            </div>
                                            <div class="card-body p-0">
                                                <div class="table-responsive">
                                                    <table class="table" id="TabelaSMSVencidas">
                                                        <thead class="bg-light">
                                                            <tr class="border-0">
                                                                <th class="border-0">SMS</th>
                                                                <th class="border-0">Sigla</th>
                                                                <th class="border-0">Classificação</th>
                                                                <th class="border-0">Severidade</th>
                                                                <th class="border-0">Situação</th>
                                                                <th class="border-0">Equipe</th>
                                                                <th class="border-0">Responsável</th>
                                                                <th class="border-0">Dias Vencidos</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="BodyTabelaSMSVencidas"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end SMS Vencidas  -->
                            </div>
                        </div>
                    </div>
                    <!-- end Modal - SMS Vencidas  -->


                    <!-- SLA clientes  -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 tabela-SLA-clientes">
                            <div class="card card-custom">
                                <h5 class="card-header">Clientes</h5>
                                <div class="card-body p-0">
                                    <ul class="country-sales list-group list-group-flush">

                                        <li class="country-sales-content list-group-item">
                                            <span class="mr-2">
                                                <i class="flag-icon flag-icon-us" title="us" id="us"></i>
                                            </span>
                                            <span class="">Fiesc</span> <span class="float-right text-dark">78%</span>
                                        </li>

                                        <li class="list-group-item country-sales-content">
                                            <span class="mr-2">
                                                <i class="flag-icon flag-icon-ca" title="ca" id="ca"></i>
                                            </span>
                                            <span class="">Ancora</span><span class="float-right text-dark">7%</span>
                                        </li>

                                        <li class="list-group-item country-sales-content">
                                            <span class="mr-2">
                                                <i class="flag-icon flag-icon-ru" title="ru" id="ru"></i>
                                            </span>
                                            <span class="">Postal</span><span class="float-right text-dark">4%</span>
                                        </li>

                                        <li class="list-group-item country-sales-content">
                                            <span class=" mr-2">
                                                <i class="flag-icon flag-icon-in" title="in" id="in"></i>
                                            </span>
                                            <span class="">Patrus</span><span class="float-right text-dark">12%</span>
                                        </li>


                                        <li class="list-group-item country-sales-content">
                                            <span class=" mr-2">
                                                <i class="flag-icon flag-icon-fr" title="fr" id="fr"></i>
                                            </span><span class="">Cooper</span><span class="float-right text-dark">16%</span>
                                        </li>

                                        <li class="list-group-item country-sales-content">
                                            <span class=" mr-2">
                                                <i class="flag-icon flag-icon-br" title="fr" id="fr"></i>
                                            </span><span class="">Marista</span><span class="float-right text-dark">16%</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End SLA clientes  -->

                    <!-- SMS Vencendo  -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="itens-ordenacao">
                                    <h5 class="card-header">Vencendo em 10 dias</h5>
                                    <h5 class="card-header" id="TotalizadorSMSVencendo">Total: 0</h5>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table" id="TabelaSMSVencendo">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                    <th class="border-0">SMS</th>
                                                    <th class="border-0">Sigla</th>
                                                    <th class="border-0">Classificação</th>
                                                    <th class="border-0">Severidade</th>
                                                    <th class="border-0">Situação</th>
                                                    <th class="border-0">Equipe</th>
                                                    <th class="border-0">Responsável</th>
                                                    <th class="border-0">Dias Para Vencer</th>
                                                </tr>
                                            </thead>
                                            <tbody id="BodyTabelaSMSVencendo"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end wrapper  -->
    </div>
    <!-- end main wrapper  -->
</div>
