#FiltrosPesquisa{
	display: flex;
	flex-wrap: wrap;
}

#MarginTop{
    padding-top: 13px !important;
}

#SelectorEquipe, #SelectorClientes, #SeletroProduto {
    width: 50%;
}

.tabela-SLA-clientes{
	display: none;
}

#listar {
    width: 9%;
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: dodgerblue;   
}

#valorAbertas,
#valorAbertasVencidas,
#valorLiberadas,
#valorCorrecoes,
#TotalizadorSMSVencidas,
#valorNovasAbertas,
#ValorSLA {
    display: inline;
}

#CardVencidas{
    cursor:pointer;
}

.itens-ordenacao{
    display:flex;
    width:100%;
}

#TotalizadorSMSVencendo {
    width: 10% !important;
}

.itens-ordenacao #Label-Vencidas {
    width: 87%;
}

#TotalizadorSMSVencidas {
    width: 10% !important;
}

.itens-ordenacao h5 {
    width: 90%;
}

#icon-menu{
    float:left !important; 
    margin-right: 10px !important;
    cursor: pointer !important;
}

.modal-content-filtros {
    padding: 15px;
    height: 100%;
}

.btn-primary{
    width:80px !important;
}
